In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_excel('Q4_2013_Groupon_North_America_Data_XLSX.xlsx')
data.head()

,Deal ID,Units Sold,Billings,Start Date,Deal URL,Segment,Inventory Type
0,gr-millevois-tire-service-center,0.0,0.0,2011-11-21,http://www.groupon.com/deals/gr-millevois-tire...,Local,Third - Party
1,gr-manakeesh-cafe-bakery,0.0,0.0,2011-11-21,http://www.groupon.com/deals/gr-manakeesh-cafe...,Local,Third - Party
2,gr-phoenix-salon-and-spa,0.0,0.0,2011-11-21,http://www.groupon.com/deals/gr-phoenix-salon-...,Local,Third - Party
3,gr-hands-in-motion,0.0,0.0,2011-11-21,http://www.groupon.com/deals/gr-hands-in-motion,Local,Third - Party
4,dc-fd2-bartending-college-allentown-reading,86.8,4253.2,2012-06-06,http://www.groupon.com/deals/dc-fd2-bartending...,Local,Third - Party

In [9]:
data['Start Date'] = pd.to_datetime(data['Start Date'])

In [17]:
data = data.sort_values('Start Date')

In [5]:
data.groupby('Segment').sum()/1000000

         Units Sold    Billings
Segment
Goods     10.419746  282.245671
Local     13.924480  409.222658
Travel     0.378910   70.552062

In [8]:
data['Billings'].sum()/1000000

762.0203911478027

In [10]:
data.describe()

          Units Sold      Billings
count  138534.000000  1.385340e+05
mean      178.462592  5.500602e+03
std       864.551565  2.774653e+04
min     -9100.000000 -2.180629e+05
25%         1.450000  6.380000e+01
50%        19.200000  8.502000e+02
75%        99.200000  3.677450e+03
max     62500.000000  2.874885e+06

In [24]:
data['Inventory Type'].unique()

array(['Third - Party', 'First - Party'], dtype=object)

In [22]:
len(data.dropna())

138534

In [66]:
data2 = pd.read_excel('Mar-15_groupon.be_Deals.xlsx')
data2['Observation Time'] = pd.to_datetime(data2['Observation Time'])

In [67]:
len(data2['Valid'].unique())

21019

In [51]:
data2 = data2.sort_values('Observation Time')
data2 = data2.reset_index(drop=True)

In [39]:
len(data2)

74491

In [56]:
data2['Valid'] = [0]*len(data2)
data2['Valid'].iloc[0] = data2['Deal URL'].iloc[0]

/Users/luyang/anaconda/lib/python3.6/site-packages/pandas/core/indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [60]:
len(data2.groupby(['Quantity Sold','Price','Observation Time']).first())

26427

In [ ]:
len(data)